.new {
    padding: 10rem 3rem;
}

.rf-title {
    text-align: center;
    padding: 1rem;
}

.form {
    justify-content: center;
    display: flex;
    padding: 2rem;
}

.fields {
    padding: 1rem;
}

.formbtn {
    padding: 1rem;
}