<div class="new">
    <div class="reactiveforms">
        <div class="title">
            <h1 class="rf-title">form</h1>
        </div>

        <div class="form">

            <form >

                <div class="fields">
                    <div><label>Email</label></div>
                    <input type="email" pInputText>
                </div>

                <div class="fields">
                    <div><label>Password</label></div>
                    <input type="password" pInputText>
                </div>

                <div class="formbtn">
                    <p-button label="submit"></p-button>
                </div>


            </form>

        </div>
    </div>
</div>
<div>hello</div>