<div class="main">

    <div class="accountbtn">
        <p-button type="" label="Add User" (click)="add()"></p-button>
    </div>

    <div class="container">
        <p-table [value]="user"  responsiveLayout="scroll">
            <ng-template pTemplate="header">
                <tr>
                    <th> first name</th>
                    <th>last name</th>
                    <th>phone number</th>
                    <th>email</th>
                    <!-- <th>edit</th> -->
                    <th>delete</th>

                </tr>
                <!-- </ng-template>
            <ng-template pTemplate="body" let-user let-columns="" let-rowIndex="rowIndex"> -->
                <tr *ngFor="let users of user" >
                    <td>{{users.firstName}}</td>
                    <td>{{users.lastName}}</td>
                    <td>{{users.email}}</td>
                    <td>{{users.phoneno}}</td>

                    <!-- <td>
                        <div class="addbtn">
                            <p-button type="Submit" label="edit" (click)="edit()"></p-button>
                        </div> 
                    </td> -->
                    <td>
                        <div class="delbtn">
                            <p-button type="Submit" label="delete" (click)="accountdel(0)"></p-button>
                        </div>
                    </td>
                </tr>


            </ng-template>
        </p-table>
        <!-- {{message}} -->
    </div>