<div class="main">

    <div class="accountbtn">
        <p-button type="" label="Add User" (click)="add()"></p-button>
    </div>

    <div class="container">
        <p-table responsiveLayout="scroll">
            <ng-template pTemplate="header">
                <tr>
                    <th>name</th>
                    <th>email</th>
                    <th>phone number</th>
                    <th>edit</th>
                    <th>delete</th>

                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-user let-columns="user" let-rowIndex="rowIndex">
                <tr>

                    <td>{{user.name}}</td>
                    <td>{{user.email}}</td>
                    <td>{{user.phoneno}}</td>

                    <td>
                        <div class="addbtn">
                            <p-button type="" label="edit" (click)="add()"></p-button>
                        </div>
                    </td>
                    <td>
                        <div class="delbtn">
                            <p-button type="" label="delete" (click)="accountdel(rowIndex)"></p-button>
                        </div>
                    </td>
                </tr>
            </ng-template>
        </p-table>
        {{message}}
    </div>



<table>
    <td>{{user.name}}</td>
    <td>{{user.email}}</td>
    <td>{{user.phoneno}}</td>
</table>
         