.addedit {
    padding: 7rem;
}

.fields {
    padding: 1rem;
    display: grid;
    grid-template-columns: 20rem;
    justify-content: center;

    label {
        font-size: 1rem;
        font-weight: 200;
    }

}

.addeditbtn {
    justify-content: center;
    display: flex;
    padding: 1rem;
}