<div class="addedit">
    <form [formGroup]="addeditform" (ngSubmit)="onSubmit()">
        <div class="fields">
            <label>first name</label>
            <input type="text" formControlName="firstName"
                [ngClass]="{'border-danger': addeditform.controls['firstName'].touched && addeditform.controls['firstName'].invalid}"
                pInputText>
            <small class="text-danger"
                *ngIf="addeditform.controls['firstName'].touched  && addeditform.controls['firstName'].invalid ">*firstName is
                required
            </small>
            <!-- <small>{{addeditform.controls['name'].value}}</small> -->
        </div>

        <div class="fields">
            <label>last name</label>
            <input type="text" formControlName="lastName"
                [ngClass]="{'border-danger': addeditform.controls['lastName'].touched && addeditform.controls['lastName'].invalid}"
                pInputText>
            <small class="text-danger"
                *ngIf="addeditform.controls['lastName'].touched  && addeditform.controls['lastName'].invalid ">*lastName is
                required
            </small>
            <!-- <small>{{addeditform.controls['name'].value}}</small> -->
        </div>
        <div class="fields">
            <label>email</label>
            <input type="text" formControlName="email"
                [ngClass]="{'border-danger': addeditform.controls['email'].touched && addeditform.controls['email'].invalid}"
                pInputText>
            <small class="text-danger"
                *ngIf="addeditform.controls['email'].touched  && addeditform.controls['email'].invalid ">*email is
                requird
            </small>
        </div>
        <div class="fields">
            <label>phone number</label>
            <input type="number" formControlName="phoneno"
                [ngClass]="{'border-danger': addeditform.controls['phoneno'].touched && addeditform.controls['phoneno'].invalid}"
                pInputText>
            <small class="text-danger"
                *ngIf="addeditform.controls['phoneno'].touched  && addeditform.controls['phoneno'].invalid ">*Phone
                Number is required
            </small>

        </div>
        <div class="addeditbtn">
            <p-button type="submit" label="submit"></p-button>
        </div>
    </form>
</div>